@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;
}

.blue{
    background-color: #2262c6;
}

.yellow{
    background-color: #caa138;
}

.green{
    background-color: #2f7200;
}

.red{
    background-color: #720100;
}

.brown{
    background-color: #7a4c2d;
}

