.backgroundUser{
    text-transform: uppercase;
    color: white;
    font-weight: bolder;
    font-size: 1.6rem;

    border-radius: 50%;
    width: 2rem;
    height: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
}